In [1]:
import pandas as pd
import atoti as tt

In [2]:
session= tt.create_session()

In [3]:
avocado=session.read_csv('/Users/fabiobisognin/Desktop/avocado-updated-2020.csv')

The store has been sampled because there are more than 10000 lines in the files to load and the appended lines. Call Session.load_all_data() to trigger the full load of the data.

In [4]:
session.load_all_data()

In [5]:
avocado.head()

,date,average_price,total_volume,4046,4225,4770,total_bags,small_bags,large_bags,xlarge_bags,type,year,geography
0,2018-07-01,1.41,44587.04,1195.26,5264.14,64.61,38063.03,38049.69,13.34,0.00,organic,2018,Baltimore/Washington
1,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.00,conventional,2015,Albany
2,2018-07-01,1.20,109983.73,46961.21,4526.51,12754.96,45741.05,25753.24,19960.70,27.11,conventional,2018,Boise
3,2015-01-04,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.00,organic,2015,Albany
4,2018-07-01,1.81,3272.78,0.00,1060.01,0.00,2212.77,616.27,1587.46,9.04,organic,2018,Boise

In [6]:
cube= session.create_cube(avocado, name= 'avocado')

In [7]:
session.url

'http://localhost:53488'